body {
    font-family: helvetica, sans-serif;
    font-size: 14px;
    color: black;
    background-color: #66cdaa;
    margin: 20px;
    padding: 0;
    text-align: center;
}

p {
    line-height: 21px;
    color: #004766;
    font-size: 1.5em;
}

h1 {
    color: #e0ffff;
    background-color: #008080;
    font-size: 2em;
    margin: 0;
    margin-bottom: 7px;
    padding: 4px;
    font-style: italic;
    text-align: center;
    letter-spacing: 0.5em;
    border-bottom-style: solid;
    border-bottom-width: 0.5em;
    border-bottom-color: #e0ffff;
}

h2 {
    color: #008080;
    background-color: #e0ffff;
    font-size: 2em;
    margin: 10;
    padding: 2px;
    padding-left: 430px;
}

img {
    border-style: dashed;
    border-width: 2px;
    border-color: #008080;
}

a {
    text-decoration: none;
}

strong {
    font-style: italic;
    text-transform: uppercase;
}

li {
    color: #004766;
    font-style: italic;
    font-size: 1.25em;
    font-family: helvetica;
}
